@import '../../assets/css/vars.scss';

.Schedule {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 30px;
  span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  button {
    background-color: $purple;
    border-radius: 25px;
    border: none;
    padding: 5px 0;
    font-family: 'Dklemon';
    font-size: 1.8rem;
    transition: .5s;
    a {
      text-decoration: none;
      color: white;
    }
    &:active {
      transform: scale(.9);
      background-color: rgba($purple, 0.8);
      user-select: none;
    }
  }
}