@import '../../assets/css/vars.scss';

footer {
  background-color: $blue;
  color: white;
  padding: .2rem;
  font-size: 1rem;
  text-align: center;
  position: fixed;
	z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    span {
      text-decoration: underline;
    }
  }
}