@import '../../assets/css/vars.scss';

footer {
  background-color: $blue;
  color: white;
  padding: .2rem;
  font-size: 1rem;
  text-align: center;
  position: fixed;
	z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    span {
      text-decoration: underline;
    }
  }
  .Contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 60px;
    right: 10px;
    a {
      transition: .5s;
      &:active {
        transform: scale(.8);
      }
    }
    &-whatsapp {
      width: 50px;
    }
    &-phone {
      width: 50px;

    }
  }
}